@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-snap-type: y mandatory;;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display:none;
}

.btn{
  @apply p-0 transition-colors duration-500
}
.hideScrollbar::-webkit-scrollbar{
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hideScrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  @layer components{
    .heroSection{
      @apply md:w-1/2 md:h-full w-full h-1/2
    }
  }
  
  .rotateY{
    transform: rotateY(180deg)
  }